footer {
  background-color: #e1e1e1;
}
#footer_items {
  display: flex;
  padding: 28px 8%;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1170px) {
  #footer_items {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 16px 4%;
  }
}

@media screen and (max-width: 450px) {
  #footer_items {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 16px 4%;
  }
}
